PORT=6000
NODE_ENV=development

SUPABASE_URL=qvtahvngpbmzpzdojztc
SUPABASE_ANON_KEY=sb_publishable_G9sazDsSL37Daf2dOlwfGg_YKQFoZLr
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.qvtahvngpbmzpzdojztc.supabase.co:5432/postgres

JWT_SECRET=cU54zi0nLsgj7je7Rnioq6UYeK9d1xtEMo4aSVHQ8CRSWwlKyYYXtndN40n/Kig41zlnu93vUL6dqSX8wEUuuw==
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
